.classname{
    margin:50px;
    padding: 50px;
    height: 100px;
    width: 100px;
}
.td1{
    margin:20px;
    padding:20px;

}
.td2{
    margin:20px;
    padding:20px;

}
.td3{
    margin:20px;
    padding:20px;

}